

  .memini-icon-button-hover-effect:hover .material-icons,
  .memini-icon-button-hover-effect:hover .memini-icon-label {
    color: #60a5fa; /* Tailwind's light blue-400, adjust as needed */
    transition: color 0.2s ease;
  }

  .memini-icon-button-inverted-color:hover{

  }

  .memini-icon-button {
    @apply flex flex-col items-center justify-center;
  }
  
  .memini-icon-button i {
    cursor: pointer;
    @apply text-2xl mb-1;
    @apply px-4 py-2 rounded-md bg-white shadow-sm hover:bg-gray-50 transition;

  }  
  
  .memini-icon-label {
    font-size:10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    @apply py-1 font-medium tracking-wide relative ;
  }

  .memini-icon-label::after {
    content: '';
    display: block;
    height: 1px;
    background-color: rgba(235, 238, 242, 0.5); /* slate-500 with opacity */
    margin-top: 2px;
    width: 100%;
  }

  .memini-icon-button-normal-color {
    color:black;
    
  }
  .memini-icon-button-inverted-color {
    color:blanchedalmond;
    
  }