.blockContentDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1em;
    max-height: calc(1.2em * 3);
}

.activityGridTimeFrame{
    border: 1px solid #ccc;
}
.activityGrid{
    border: 1px solid #ccc;
}

.gridBlock{
    border: 1px solid #ccc;
}

.schedule-task-grid{
    position: relative;
}
.attached-task{
    position: absolute;
}
