.horizontal-schedule-marker-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(to right, rgba(47, 79, 79, 0) 0%, rgba(47, 79, 79, 0.6) 50%, rgba(47, 79, 79, 0) 100%);
    pointer-events: none;
}

.blockContentDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1em;
    max-height: calc(1.2em * 3);
}

.activityGridTimeFrame{
    border: 1px solid #ccc;
}

.gridBlock{
    border: 1px solid #ccc;
}

.schedule-task-grid{
    position: relative;
    max-height: 600px;
    overflow-y:auto;
}

.attached-task{
    position: absolute; 
    width: 85%;
}

.time-marker-column{
    background: rgba(47, 79, 79, 0.25); 
}

.schedule-grid-timemark-whole{
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.schedule-grid-timemark-half{
    font-size: 10px;
    text-align: left;
    margin-left:14px;
}

.schedule-grid-recommended-activities-area{
    margin-top:10px;
}

.scrollable-div::-webkit-scrollbar {
    width: 9px;
    margin-right:2px;   
}

.scrollable-div::-webkit-scrollbar-track {     
    border-radius: 2px;    
   
}

.scrollable-div::-webkit-scrollbar-thumb {   
    border-radius: 2px;
    border: 1px rgba(47, 79, 79, 0.25); 
    @apply bg-blue-300;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background-color: rgba(47, 79, 79, 0.5); 
    @apply bg-blue-400;
}

.ui.menu.schedule-grid-main-menu {
    font-family: 'Roboto', sans-serif !important;
}

.schedule-grid-selected-day{
    font-family: 'Roboto', sans-serif !important;  
    font-size: 15px;
    border-bottom: 1px solid rgba(56, 96, 132, 0.25);
    padding-bottom: 5px; 
    letter-spacing: 1.5px;
}

.schedule-grid-menu-block{
    align-self: center !important;
}

.schedule-grid-menu-new-task{
    width: 150px;   
    background-color: rgba(40, 100, 152, 0.1) !important;
}

.schedule-grid-menu-partofday-icon{
    margin:0 10px 0 10px !important;
}








