@tailwind base;
@tailwind components;
@tailwind utilities;

/*General Menu bar*/
.menu-bar-row {
  @apply border-t border-b border-black/10 shadow-none  flex items-center justify-between bg-[#14181B] text-white;
}

/* Main Menu Items*/
.main-menu-item {
  @apply text-white font-medium tracking-wider py-1 px-2 whitespace-nowrap;
}

.main-menu-item:hover {
  cursor: pointer; /* Set cursor to pointer on hover */
}

.main-menu-item::after {
  content: "";
  @apply absolute bottom-0 left-0 w-full h-[2px] bg-transparent opacity-0;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.main-menu-item:hover::after {
  opacity: 1;
  background-color: theme('colors.miMedium');
}

.main-menu-item-active::after {
  opacity: 1;
  background-color: theme('colors.miMedium');
}

/*Subheader Row*/
.menu-subheader-row {
  @apply border-b flex border-black/5 bg-miInfo bg-opacity-50; 
}










