.login-name-input{
    width:500px;
    text-align: center;
    min-height: 50px;
}

.titleRow{
    height: 250px;
}

.user-main-login-button{
    margin: 0 25px 0 25px;
}
.user-main-create-account-button{
    margin: 0 25px 0 25px;
}
.user-main-forgot-password:hover{
    color:darkkhaki;
    cursor: pointer;
}