
.main-menu-bar-container{
  
}

.main-menu-project-icon{

}

.main-menu-option-row{
  align-self: center !important;
  font-size:15px;
  letter-spacing: 1.5px;  
}

.main-menu-option-row-right{
  align-self: center !important;
  font-size:15px;
  letter-spacing: 1.5px;  
  margin-left: auto; /* Pushes the element to the right */
  text-align: right; /* Ensures text aligns properly */

}

.main-menu-option{
  margin:0 10px 0 10px;
  @apply antialiased font-medium ;
}

.main-menu-option:hover{
  cursor: pointer;
  border-bottom: 1px solid rgba(139, 69, 19, 0.5);
  padding-bottom: 5px;
}

.main-menu-selected-menu-option{
  border-bottom: 2px solid rgba(139, 69, 19, 0.5);
  padding-bottom: 5px;  
}

.main-menu-get-started-button{
  background-color: rgba(40, 100, 152,0.25) !important;
}


