.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-page-main-grid {
  margin-top:auto !important;
}

.main-page-left-void {
  max-width:fit-content;
}
.main-page-row {
  
}

.main-page-content{
  /*background-color: rgba(160, 120, 130, 0.1);*/
}

.content-containers {
  border: 1px solid rgba(200, 200, 200, 0.8);
}

.memini-icon{
  color:rgba(56, 96, 132, 0.85);
}

.ui.icon {
  border: none !important; 
  outline: none !important;
  box-shadow: none !important; 
}

.memini-icon.interactive:hover{
  color:brown !important;
  cursor: pointer !important;;
}

.memini-icon-small {
  font-size:10px;
}

.memini-icon-medium {  
  font-size:12px;
}

.memini-icon-large {  
  font-size:14px;
}

.memini-background-dimmed {
  background-color: rgb(56, 96, 132, 0.1);
}

.memini-background-light {
  background-color: rgb(56, 96, 132, 0.25);
}

.memini-background-medium {
  background-color: rgb(56, 96, 132, 0.5);
}

.memini-background-strong {
  background-color: rgb(56, 96, 132, 0.75);
}

.memini-background-full {
  background-color: rgb(56, 96, 132, 0.75);
}

.memini-content-row {
  margin: 5px 0 5px 0;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
