.grid-container {
    /*
    display: grid;
    grid-template-columns: 10% 30% auto; 
    grid-template-rows: 50% 50%; 
    gap: 2%; 
    width: 100%; 
    height: 100%; 
    */
    @apply grid grid-cols-[10%_20%_auto] grid-rows-[50%_50%] gap-2 w-full h-full; /* Tailwind grid utilities */
    border-left: 4px solid rgba(47, 79, 79, 0.5);
    background-color:aliceblue ;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Subtle glow effect */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
    
  }

  .grid-container:hover {
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.8); /* Slightly stronger glow on hover */
  }
  
  .grid-item {
    height: 100%;
    overflow: hidden; 
  }
  
  .grid-item.time-stamp-start {
    grid-column: 1;
    grid-row: 1; 
    
  }
  
  .grid-item.title {
    grid-column: 2;
    grid-row: 1; 
    font-size:15px;
    opacity:90%;
    letter-spacing:1.25px;
  }
  
  .grid-item.description {
    grid-column: 3;
    grid-row: 1 / span 2;
    font-size:12px;  
    opacity:80%;  
  }

  .grid.item.time-stamp-end {
    grid-column: 1;
    grid-row: 2;
  }

  .task-display-time-marker {
    font-size:11px !important;
  }
  
  .item5 {
    grid-column: 2;
    grid-row: 2;
  }
  