.contentBlock {
    
  }
  
.blockContentDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1em; /* Adjust line height based on your font-size */
    max-height: calc(1.2em * 3); /* Adjust max-height based on line-height and line-clamp */
}

.activityGridTimeFrame{
    border: 1px solid #ccc;
}
.activityGrid{
    border: 1px solid #ccc;
}

.gridBLock{
    border: 1px solid #ccc;
}
